name: Request Deployment - PyDM Display

on:
  workflow_dispatch:
    inputs:
      deploy_to_dev:
        description: 'DEV'
        required: false
        type: boolean
        default: false
      deploy_to_lcls:
        description: 'LCLS'
        required: false
        type: boolean
        default: false
      deploy_to_facet:
        description: 'FACET'
        required: false
        type: boolean
        default: false
      deploy_to_testfac:
        description: 'TESTFAC'
        required: false
        type: boolean
        default: false
      deploy_to_sandbox:
        description: 'SANDBOX'
        required: false
        type: boolean
        default: false
      tag:
        description: 'Tag to deploy'
        required: true
        type: string

jobs:
  deploy:
    uses: ad-build-test/build-system-playbooks/.github/workflows/request-deployment.yml@main
    with:
      deploy_to_dev: ${{ inputs.deploy_to_dev }}
      deploy_to_lcls: ${{ inputs.deploy_to_lcls }}
      deploy_to_facet: ${{ inputs.deploy_to_facet }}
      deploy_to_testfac: ${{ inputs.deploy_to_testfac }}
      deploy_to_sandbox: ${{ inputs.deploy_to_sandbox }}
      tag: ${{ inputs.tag }}
      deployment_type: 'pydm'
